.launcher-bar-desktop__wrapper.action .launcher-bar-desktop__collapse {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    transform: rotate(0);
}

.launcher-bar-desktop__collapse {
    border: 0;
    width: 20px;
    height: 80px;
    background-color: #6eacf5;
    background-image: url(https://s.pixfs.net/common/icons/ic_left_white_arrow.svg);
    background-size: 80px;
    background-position: 50%;
    background-repeat: no-repeat;
    outline: 0;
    cursor: pointer;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 30%);
}

.launcher-bar-desktop * {
    box-sizing: border-box;
}

.launcher-bar-desktop__wrapper.action button {
    appearance: auto;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    /*display: inline-block;
    text-align: center;*/
    align-items: flex-start;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    float: right;
}


/*
.launcher-bar-desktop>* {
    -webkit-font-smoothing: antialiased;
}
*/

.launcher-bar-desktop {
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 270px;
    width: 83px;
}

.launcher-bar-desktop_function {
    width: 800px;
    height: 300px;
    display: none;
    overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
}

.tabs div {
    display: none;
}

.tabs div.current {
    display: block;
}

.tabs div {
    height: 0;
    overflow: hidden;
    max-height: 0;
    transition: all 1s linear;
    opacity: 0;
    pointer-events: none;
}

.tabs div.current {
    height: auto;
    max-height: 200px;
    transition: all 1s linear;
    pointer-events: all;
    opacity: 1;
}

.show {
    display: block;
}


/* highlighting selected tab menu */


/*
.tabs-menu div.active {
    background: #000000;
    color: #ffffff;
}
*/